@import url('./vendor/normalize.css');
@import url('./vendor/fonts/inter.css');
@import url('./vendor/fonts/inder.css');

body {
  margin: 0;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  background-image: url('./images/background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

